



body {
    margin: 0;
    font-family: "Bookman Old Style", "Baskerville", "Times New Roman";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    }

/* Grid Container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    align-items: stretch;
    width: 50%;
    position: 100%;
}

/* Left Side - Cherries Image */
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fff;
}

/* Right Side - Gray Background */
.right {
    background-color: #CACBC9;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20 px;
}

/* "Cherries" Text */
.cherries {
    color: darkred;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.15;
    margin: 0;
}

.cherry-img {
    width: 250px;
    height: auto;
    display: block;
}

/* "Tart" & "Sweet" Styling */
.title {
    color: black;
    position: absolute;
    text-align:center;
    top: 30%;
    left: 50%;
    width: 100;
    font-size: 64px;
    font-weight: 700;
    line-height:1;
    transform: translateX(-50%);
    z-index: 5;
}





