



body {
    margin: 0;
    font-family: "Bookman Old Style", "Baskerville", "Times New Roman";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    }

/* Grid Container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    align-items: stretch;
    width: 80%;
    max-width: 900px;
    position: relative;
    Box-shadow: 0 0 10 rgba(0,0,0,0.1);
}

/* Left Side - Cherries Image */
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fff;
}

/* Right Side - Gray Background */
.right {
    background-color: #CACBC9;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20 px;
}

/* "Cherries" Text */
.cherries {
    color: darkred;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.15;
    margin: 0;
}

.cherry-img {
    width: 250px;
    height: auto;
    position: left;
    display: block;
}

/* "Tart" & "Sweet" Styling */
.title {
    color: black;
    position: center;
    text-align:center;
    top: 10%;
    left: 50%;
    font-size: 64px;
    font-weight: bold, 700;
    max-width: 900px;
    letter-spacing: 0.05em;
    line-height:1;
    z-index: 3;
}





