*{ box-sizing:border-box; }

img {
    width: 20%; 
}

body {
    background-color: #3396D3; /* summer sky blue from colorhung.co */
    color:#F0F0F0; /* Light grey from colorhung.co */
    font-family: Arial, sans-serif; 
    text-align: center;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container{
  width:min(900px, 86%);
  margin:0 auto; /* centers the block; shared left edge */
}

h1.title {
    font-family: "arial Black", Impact, system-ui, sans-serif;
    font-size: 5em;
    color:#F0F0F0; 
    font-weight: bold;
    line-height: 1.1;
    transition: color 0.3s ease; /* For transition */
    margin: 10px 0 18p;
    text-align: center;
}

h1.title:hover { 
    color: black;
    cursor: pointer;
}

header {
    text-align: center;
    font-size: 0.9em;
    color: #F0F0F0; 
}

header p { 
    font-family: "Georgia", "Times New Roman", serif;
    margin: 4px 0;
    font-size: .95rem;
}

header p:nth-child(3){ /* third line */
    font-size: 1.9rem;
    line-height: 1.2;
}

h2 {
    font-family: "Georgia", "Times New Roman", serif;
    font-size:1.9em;
    color: black; 
    font-weight: 700;
    line-height: 1.1;
    margin: 18px 0 6px;
    text-align: left;
}

h2 {
    font-size: 5em;
    color:#F0F0F0; 
    font-weight: bold;
    transition: color 0.3s ease; /* For transition */
    margin-bottom: 10px;
    text-align: left;
}
p {
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 22px auto;
    text-align: center;
    color: #F0F0F0;
    font-weight: 400;
}

image {
    width: 20%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 20px 0px;
}

footer {
    font-size: 0.9em;
    color: #F0F0F0; 
    margin-top: 30px;
}
