*{ box-sizing:border-box; }

img {
    width: 20%; 
}

body {
    background-color: #3396D3; /* summer sky blue from colorhung.co */
    color:#F0F0F0; /* Light grey from colorhung.co */
    font-family: Arial, sans-serif; 
    text-align: center;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 class {
    font-size: 5em;
    color:#F0F0F0; 
    font-weight: bold;
    transition: color 0.3s ease; /* For transition */
    margin-bottom: 10px;
    text-align: left;
}

h1 class:hover { 
    color: black;
    cursor: pointer;

header {
    text-align: center;
    font-size: 0.9em;
    color: #F0F0F0; 


image {
    width: 20%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 20px 0px;
}

footer {
    font-size: 0.9em;
    color: #F0F0F0; /* Light grey from colorhung.co */
    margin-top: 30px;
}
