img {
    width: 20%; 
}

title

body {
    background-color: #3396D3; /* summer sky blue from colorhung.co */
    color: white;
    font-family: Arial, sans-serif; 
    text-align: center;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    font-size: 0.9em;
    color: #F0F0F0; /* Light grey from colorhung.co */
}

h1 {
    color: white;
    transition: color 03s ease; /* For smooth color change */
}

h1:hover {
    color: black;
}

image {
    width: 20%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 20px 0px;
}

footer {
    font-size: 0.9em;
    color: #F0F0F0; /* Light grey from colorhung.co */
    margin-top: 30px;
}
