/* CSS - Name: "positionstyles.css" */

/* This is the parent of the activity 1 boxes. */

.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* two equal columns */
  column-gap: 20px;                /* vertical white bar */
  row-gap: 20px;                   /* horizontal white bar */
  background: white;
  padding: 10px;
  justify-items: center;
  align-items: center;
}
/* Activity 1 box styles */
/* colors */
.red1    { background-color: red; }
.green1  { background-color: green; }
.yellow1 { background-color: gold; }
.blue1   { background-color: blue; }

.red1, 
.blue1{ 
  width: 100%; 
  height: 75px;
  grid-column: 1 / -1;   /* top bar, full width */

} 
.green1,
.yellow1 {
  width: 200px; 
  height: 200px; 
} 

/* Activity 2 styles */ 
.content2 {
  /* This is the parent of the activity 2 boxes. */
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-auto-rows: 50px 
}

.content2 div {
  width: 100px;
  height: 100px;
}

/* colors */
.red2    { background-color: red; }
.green2  { background-color: green; }
.yellow2 { background-color: gold; }
.blue2   { background-color: blue; }

.red2 {
  grid-column: 1 / 3;
  grid-row: 1 /  3; 
  background-color: red; 
} 
.green2 { 
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: green; 
} 

.yellow2 {
  grid-column: 3 / 5;
  grid-row: 3 / 5; 
  background-color: gold; 
} 

.blue2 {
  grid-column: 4 / 6;
  grid-row: 4 / 6; 
  background-color: blue; 
} 

/* Activity 3 styles */ 
.content3 {
  /* This is the parent of the activity 3 boxes. */
  display: grid;
  grid-template-columns: repeat(7, 1fr);  /* 7 columns */
  grid-template-rows: repeat(4, 100px);   /* 4 rows */
  background-color: white;
}

.content3 div { /* to auto fill grid cells. */
  width: 100%;
  height: 100%;
}

.red3    { background-color: red; }
.green3  { background-color: green; }
.yellow3 { background-color: gold; }
.blue3   { background-color: blue; }

.red3 {
  grid-column: 1 / 8;  
  grid-row: 1 / 2;
  background-color: red; 
} 
.green3 {
  grid-column: 1 / 4;  
  grid-row: 2 / 4;
  background-color: green;
} 
.yellow3 {
  grid-column: 5 / 8;  
  grid-row: 2 / 4; 
  background-color: gold; 
} 
.blue3 {
  grid-column: 1 / 8;
  grid-row: 4 / 5;
  background-color: blue; 
} 

/* Activity 4 styles */ 
.content4 {
  /* This is the parent of the activity 4 boxes. */
  display: grid;
  height: 400px;  /* Required */
  grid-template-columns: 1fr 1fr;     /* 2 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
}

.content4 div {
  width: 100%;
  height: 100%;
}

.red4    { background-color: red; }
.green4  { background-color: green; }
.yellow4 { background-color: gold; }
.blue4   { background-color: blue; }

.red4 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: red; 
} 
.green4 {
  grid-column: 2 / 3;
  grid-row: 1 / 3; 
  background-color: green; 
} 
.yellow4 {
  grid-column: 2 / 3;
  grid-row: 2/ 3;
  background-color: gold; 
} 
.blue4 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: blue; 
} 

/* Activity 5 styles */ 
.content5 {
  /* This is the parent of the activity 5 boxes. */
  height: 400px;            /* Required */
  background-color: gold;   /* to have text on top */
  box-sizing: border-box;   /* needs 8 rows and 3 columns */
}

.red5    { background-color: red; }
.green5  { background-color: green; }
.yellow5 { background-color: gold; }
.blue5   { background-color: blue; }

.red5 { 
  height: 100px;
  background-color: red; 
} 
.green5 { 
  width: 150px;
  height: 150px;
  float: left;      /* to wrap text around square */
  margin: 0 15px 15px 0; /* placed in left upper corner of y5 */
  background-color: green; 

} 
.yellow5 {
  padding: 0 15px 15px 15px;
  box-sizing: border-box;
  height: 200px;  /* 400 - 60px red & 60px blue */
  overflow: auto;  /* to scroll text if too long */
} 

.blue5 {
  height: 100px;   /* to match red strip */
  clear: both;    /* pushes text below the green square */
  background-color: blue; 
} 

/* Activity 6 styles */ 
.content6 {
  /* This is the parent of the activity 6 boxes. */
  width: 600px; /* for 3 columns x 2 rows at 200px */
  height: 600px; 
  position: relative;
  background: white;
}
.content6 div {
  position: absolute;

}

.red6    { background-color: red; }
.green6  { background-color: green; }
.yellow6 { background-color: gold; }
.blue6   { background-color: blue; }

/* RED — row 1/2, col 1/3 */
.red6 {
  background: red;
  left: 0px;         
  width: 400px;      
  height: 200px;     
  z-index: 1; /* on bottom */
}
/* BLUE — row 1.5/4.5, col 1.5/4.5 */
.blue6 {
  background: blue;
  top: 100px;        
  left: 100px;         
  width: 400px;      
  height: 400px;     
  z-index: 2; /* on red */
}
/* YELLOW — row 3/4, col 1/2 */
.yellow6 {
  background: gold;
  bottom: 400px;        
  right: 0px;       
  width: 200px;      
  height: 400px;     
  z-index: 3; /* on blue */
}
/* GREEN — row 1.5/5.5, col 3/4*/
.green6 {
  background: green;
  bottom: 0px;        
  left: 0px;         
  width: 200px;      
  height: 200px;     
  z-index: 4; /* on blue */
}

/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}